.container{
    width: 100%;
    max-width: 1920px;
    min-width: 1290px;
    margin: 0 auto;
    padding-top: 129px;
    padding-right: 3%;
    padding-left: 3%;
}
a{
    color: #000000;
    text-decoration: none;
}
a:visited{
    color: #000000;
}
.header-nav a{
    color: #fff;
}
ul{
    list-style: none;
}
header {
    font-family: 'Rosario', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 36px;
    line-height: 1.2;
    color: #fff;
}
.heading{
    font-family: 'Rosario', sans-serif;
    font-weight: 700;
    font-size: 86px;
    line-height: 1.3;
    color: #171717;
    text-align: center;
    text-transform: capitalize;
}
.header-container{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    flex-basis: 10%;
    flex-shrink: 1;
}
.header-nav{
    flex-basis: 90%;
    flex-shrink: 2;
    background-color: black;
}
.header-nav ul:first-of-type{
    display: flex;
    justify-content: flex-end;
}
.header-nav ul:first-of-type > li{
    margin-right: 1em;
    padding: 5px;
}

/* Section Gallery */
.gallery-flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    padding-top: 50px;
    overflow: hidden;
}
.gallery-card{
    max-width: 300px;
}
.gallery-cards{
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.gallery-cards__card{
    max-width: 302px;
    padding: 10px;
}
.left-cards{
    animation: move_left 1s cubic-bezier(.17, .67, .83, .67) 0s 1 forwards;
}
.right-cards{
    animation: move_right 1s cubic-bezier(.17, .67, .83, .67) 0s 1 forwards;
}
.gallery-card:first-child {

    animation: move_left-2 2s cubic-bezier(.17, .67, .83, .67) 0.1s 1 forwards;
}

.gallery-card:last-child {
    animation: move_right-2 2s cubic-bezier(.17, .67, .83, .67) 0.1s 1 forwards;
}

@keyframes move_left {
    from {
        transform: translateX(-50vw)
    }

    to {
        transform: translate(0);
    }
}

@keyframes move_right {
    from {
        transform: translateX(+50vw)
    }

    to {
        transform: translateX(0);
    }
}
/*New animation*/
@keyframes move_left-2 {
    from {
        transform: translateX(-100vw)
    }

    to {
        transform: translate(0);
    }
}
@keyframes move_right-2 {
    from {
        transform: translateX(+100vw)
    }

    to {
        transform: translate(0);
    }
}

/* Section Services */
.services-flex{
    display: flex;
    justify-content: space-between;

    font-style: italic;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.2;
}
.services-cards{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 45%;
    /*flex-shrink: 2;*/
    justify-content: space-evenly;

    padding-top: 2em;
    text-align: center;

    animation-name: rotation-1;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-iteration-count: infinite ;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.17, .67, .83, .67);
    transform-origin: center
}
.services-cards_card{
    width: 35%;

    animation-name: rotation-2;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.17, .67, .83, .67);
    transform-origin: center;
}
.services-cards p{
    margin: 0;
    padding-bottom: 10px;
}
.services-background{
    /*flex-shrink: 1;*/
    flex-basis: 50%;
}
/*cards animation 360*/
@keyframes rotation-1 {
    0% {
            transform: rotate(-360deg);
        }
}
@keyframes rotation-2 {
    0% {
        transform: rotate(360deg);
    }
}
/* Section Team */
.team{
    margin-top: 50px;
}
.team h1{
    margin: 0;
}
.team-members{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.team-members_card{
    position: relative;
    overflow: hidden; 
    margin: 0 30px;
}
img{
    width: 100%;
}
.team-members_img{
    border-radius: 40px;
}
.team-members > .heading{
    padding: 0 auto;
}
.overlay{
    position: absolute;
    bottom: 4px;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: rgba(163, 83, 10, 0.7);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    transform: translateY(105%);
    transition: transform 200ms cubic-bezier(.17, .67, .83, .67);
}
.overlay-text{
    position: absolute;
    top: -25px;
    left: 0;
    color: #fff;
    padding: 0 30%;

    font-weight: 400;
    font-size: 48px;
    line-height: 1.3;
}
.team-members_card:first-of-type .overlay-text{
    padding: 0 20%;
}
.team-members:hover .team-members_card{
    filter: grayscale(var(--value, 100%));
}
.team-members .team-members_card:hover{
    filter: grayscale(var(--value, 0%));
}
/*overlay text team-card*/
.team-members_card:hover .overlay{
    transform: translateY(0);
}
/* Section Contact us */
.contact .heading{
    font-size: 64px;
    line-height: 1.2;

    margin-top: 0;
}
.contact_flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contact_form{
    width: 50%;
}
.conatct_map{
    width: 40%;
}
.contact_form form{
    position: relative;
    background-color: #E5E5E5;
    padding: 20px;
    overflow: hidden;
}
.contact_form > form div:first-of-type{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contact_form > form div:not(:last-child){
    margin-bottom: 10px;
}
.contact-input{
    min-width: 280px;
    max-width: 450px;
    height: 36px;
    padding: 15px;
}
.contact_area{
    width: 100%;
    height: 200px;
    padding: 10px;
    resize: none;
}
.form_btn{
    position: absolute;
    bottom: 25px;
    right: 22px;
}
.contact_infomation{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;

    font-weight: 600;   
    font-size: calc(30px - .5vw);
    font-family: italic;
}
address a {
    display: inline-block;
    color: black;
}
.contact_infomation ul, h3{
    margin: 0;
    padding: 0;
}
.schedule-heading{
    font-weight: 700;
    font-size: 26px;
}

/* Footer social block */

.social-link_item::before{
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: contain;
}
.social-link_item:nth-child(2)::before{
    background-image: url(../images/insta.svg);   
    margin-right: 5px;
    background-repeat: no-repeat;
}
.social-link_item:nth-child(3)::before{
    background-image: url(../images/facebook.svg);
    margin-right: 5px;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;

    position: relative;
    top: 5px;
    left: -3px;
}
.social-link_item:last-child::before{
    background-image: url(../images/twitter.svg);
    background-repeat: no-repeat;
    margin-right: 5px;
    
    position: relative;
    top: 3px;
}

@media screen and (max-width:992px) {
    .gallery .gallery-flex {
        position: relative;
        flex-direction: column;
    }

    .gallery .gallery-cards {
        width: 750px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .gallery-card:first-child {
        position: relative;
        top: 0;
        left: -170px;
    }

    .gallery-card:last-child {
        position: absolute;
        top: 50px;
        right: 305px;
    }

    .gallery .gallery-card:first-child {
        animation: move_left-2 1s cubic-bezier(.17, .67, .83, .67) 0.1s 1 forwards;
    }

    .gallery .gallery-card:last-child {
        animation: move_right-2 1s cubic-bezier(.17, .67, .83, .67) 0.1s 1 forwards;
    }

    .services .services-flex {
        flex-direction: column-reverse;
        align-items: center;
    }

    .services .services-background {
        max-width: 50%;
        margin-bottom: 45px;
    }

    .services .services-cards {
        max-width: 50%;
    }

    .team .team-members {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .contact .contact_flex {
        flex-direction: column;
        row-gap: 20px;
    }
    .conatct_map{
        width: 50%;
    }
}

@media screen and (max-width:768px) {
    .container{
        max-width: 768px;
        /* min-height: 100vh; */
    }
    .gallery .gallery-flex{
        flex-direction: column-reverse;
    }
    .gallery .gallery-cards{
        flex-direction: column;
        align-items: center;
    }
    .gallery .gallery-cards__card{
        max-width: 100%;
    }
    .gallery .gallery-card{
        max-width: 465px;
    }
    .gallery-card:first-child {
        position: relative;
        top: 0;
        left: 0;
    }
    .gallery-card:last-child {
        position: relative;
        top: 0;
        right: 0;
    }
    .gallery .gallery-card:first-child { 
        animation: move_left-2 1s cubic-bezier(.17, .67, .83, .67) 0.1s 1 forwards;
    } 
    .gallery .gallery-card:last-child {
        animation: move_right-2 1s cubic-bezier(.17, .67, .83, .67) 0.1s 1 forwards;
    }
    .services .services-flex{
        justify-content: center;
    }
    .services .services-background{
        display: none;
    }
    .services .services-cards{
        flex-basis: 65%;
    }
    .team .team-members{
        flex-direction: column;
        row-gap: 10px;
    }
    .team-members_card{
        max-width: 100%;
    }
    .team__heading{
        font-size: 75px;
    }
    .contact .contact_flex{
        flex-direction: column-reverse;
        row-gap: 20px;
    }
}
@media screen and (min-width:1620px) {
    .container {
        padding-right: 14%;
        padding-left: 14%;
        }
    
}
